<%- include(current_path + '/templates/_stylesheets' ) %>
   <style>
      body {
         overflow: visible;
      }

      select.option {
         font-size: 24px;
         color: gray;
         border: 1px solid #CCC;
      }
   </style>

   <script type="text/javascript">
      function refresh() {
         const teamVal = document.getElementById("teamSelect").value,
            mccVal = document.getElementById("mccSelect").value,
            rcVal = document.getElementById("rcSelect").value,
            yearVal = document.getElementById("yearSelect").value;

         location.href = `/report/budget-vs-expense?team=${teamVal}&mcc=${mccVal}&rc=${rcVal}&fyYear=${yearVal}`;
      }
   </script>
   <center>
      <h1>
         <%= title[languageCode] %>
      </h1>
      <h2>
         Ministry Team :
         <select id="teamSelect" onchange="refresh()" class="option">
            <option value="">[All]</option>
            <% for(i=0; i < teamOptions.length; i++) { %>
               <option <% if (team==teamOptions[i]) { %> selected <% } %> value="<%= teamOptions[i] %>"><%=
                           teamOptions[i] %>
               </option>
               <% } %>
         </select>
         MCC :
         <select id="mccSelect" onchange="refresh()" class="option">
            <option value="">[All]</option>
            <% for(i=0; i < mccOptions.length; i++) { %>
               <option <% if (mcc==mccOptions[i]) { %> selected <% } %> value="<%= mccOptions[i] %>"><%= mccOptions[i] %>
               </option>
               <% } %>
         </select>
         RC :
         <select id="rcSelect" onchange="refresh()" class="option">
            <option value="">[All]</option>
            <% for(i=0; i < rcOptions.length; i++) { %>
               <option <% if (rc==rcOptions[i]) { %> selected <% } %> value="<%= rcOptions[i] %>"><%= rcOptions[i] %>
               </option>
               <% } %>
         </select>
         Year :
         <select id="yearSelect" onchange="refresh()" class="option">
            <option value="">[Current]</option>
            <% for(i=0; i < yearOptions.length; i++) { %>
               <option <% if (fyYear==yearOptions[i]) { %> selected <% } %> value="<%= yearOptions[i] %>"><%=
                           yearOptions[i] %>
               </option>
               <% } %>
         </select>
      </h2>
      <div>
         <table width="100%">
            <thead class="table-light table-align">
               <tr>
                  <td colspan="3" style="color: gray; font-weight: normal;text-align: left;font-size: 24px;">Team: <%=
                        team ? team : "[None]" %>
                  </td>
               </tr>

               <tr class="sub header">
                  <td align="right">Total Budget Amount</td>
                  <td align="right">Total Actual Expense</td>
                  <td align="right">Expense/Budget %</td>
               </tr>
            </thead>
            <tbody>
               <tr style="color: gray; font-weight: normal;text-align: left;font-size: 18px;">
                  <td align="right">
                     <%= fnValueFormat(totalBudgetAmount) %>
                  </td>
                  <td align="right">
                     <%= fnValueFormat(totalActualExpense)%>
                  </td>
                  <td align="right">
                     <%= fnValueFormat(percentExpenseBudget) %> %
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div>
         <table width="100%">
            <% for(const rc_name in rc_infos) { %>
               <% const rc=rc_infos[rc_name]; %>
                  <tr class="header">
                     <th colspan="5">
                        <%= rc_name %>
                     </th>
                  </tr>
                  <!-- Header -->
                  <tr class="sub header">
                     <td>Project Number</td>
                     <td>Project Name</td>
                     <td align="right">Total Budget Amount</td>
                     <td align="right">Total Actual Expense</td>
                     <td align="right">Expense/Budget %</td>
                  </tr>
                  <% for(const project_number in rc) { %>
                     <% if (project_number == "total_budget_amount" || project_number == "total_actual_expense") continue; %>
                     <% const project_info=rc[project_number]; %>
                        <tr>
                           <td>
                              <%= project_number %>
                           </td>
                           <td>
                              <%= project_info.project_name %>
                           </td>
                           <td align="right">
                              <%= fnValueFormat(project_info.budget_amount) %>
                           </td>
                           <td align="right">
                              <%= fnValueFormat(project_info.actual_expense) %>
                           </td>
                           <td align="right">
                              <%= fnValueFormat(project_info.actual_expense && project_info.budget_amount ?
                                 (project_info.actual_expense/project_info.budget_amount) * 100 : 0) %> %
                           </td>
                        </tr>
                        <% } %>
                           <!-- Footer -->
                           <tr class="sub header">
                              <td colspan="2">Total</td>
                              <td align="right">
                                 <%= fnValueFormat(rc.total_budget_amount) %>
                              </td>
                              <td align="right">
                                 <%= fnValueFormat(rc.total_actual_expense) %>
                              </td>
                              <td align="right">
                                 <%= fnValueFormat(rc.total_budget_amount && rc.total_actual_expense ?
                                    (rc.total_actual_expense/rc.total_budget_amount) * 100 : 0) %> %
                              </td>
                           </tr>
                           <% } %>
         </table>
      </div>
   </center>