<style>
    .table-align {
       color: black;
       font-family: verdana, Verdana, Geneva, Tahoma, sans-serif;
       font-weight: bold;
       font-size: 18px;
       text-align: center;
       width: 50%;
    }
    .wrapper {
       display: flex;
       height: 205mm;
       width: 297mm;
       justify-content: space-between;
    }
    .wrapper > div {
       white-space: nowrap;
       height: 205mm;
       width: 138mm;
       position: relative;
    }
    .logo {
       width: 50%;
    }
    @media screen {
       div.wrapper {
          margin: 5mm 5mm 5mm 10mm;
       }
    }
 
    @media print {
       div.wrapper {
          margin: 0mm;
       }
    }
    select.selector {
       font-size: 24px;
       color: gray;
       border: 1px solid #ccc;
    }
 
    tr {
       align-items: center;
    }
    tbody {
       text-align: center;
    }
    select {
   text-align: center;
   text-align-last: center;
 }
 option {
   text-align: left;
 }
 </style>
 <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous"
 />
 <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
 ></script>
 <script type="text/javascript">
    function sendDataMTVal(form) {
          
       let mtVal = document.getElementById("mtType").value;
       let gtPeriod = document.getElementById("getPR").value;
     
       window.location.href = `/report/budget-vs-expense?ministryValue=${mtVal}&fyPeriod=${gtPeriod}`;
 
    }
 
 </script>
 <%     function addCommas(nStr) {
    nStr += "";
    x = nStr.split(".");
    x1 = x[0];
    x2 = x.length > 1 ? "." + x[1] : "";
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
       x1 = x1.replace(rgx, "$1" + "," + "$2");
    }
    return x1 + x2;
 }
  %>
 <div class="container">
    <center>
       <h2>Budget vs. Actual</h2>
    
     <br><br>
          <form>
             <table class="table-responsive-md">
                <thead class="table-light table-align">
                   <tr>
                   
                         <td>
                            <span style="color: gray; font-weight: normal">
                              Ministry Team :
                            </span>
                         </td>
                         <td>
                            <select
                            id="mtType"  onchange="return sendDataMTVal(this)"
                            style="
                               font-size: 20px;
                               color: gray;
                               border: 1px solid #ccc;
                            "
                         > <option><%= getMTLists[0]["Ministry Team"] %></option>
                            <% for(i=0; i < getMTLists.length; i++) { %>
                               
                               <option <% if (getMTLists[i].selected) { %> 
                                  selected <% } %> value="<%= getMTLists[i]["Ministry Team"]
                                  %>"> <%= getMTLists[i]["Ministry Team"] %>
                               </option>
                               <% } %>
                            </select>
                         </td>
                         <td> <span style="color: gray; font-weight: normal">&nbsp;FY Period :     </span>                      
                            <select
                            id="getPR" onchange="return sendDataMTVal(this)"
                            style="
                               font-size: 20px;
                               color: gray;
                               border: 1px solid #ccc;
                            "
                         >
                         <% for(var i=0; i < fyOptions.length; i++) { %>
                            <option <% if (fyPeriod==fyOptions[i]) { %> selected <% } %> value="<%= fyOptions[i] %>"><%=
                                            fyOptions[i] %>
                            </option>
                            <% } %>
                            </select>
                         </td>                   
                      </td>                  
                    
                   </tr>
                </thead>
             </table>
             <br>
    <table border="2"  class="table table-responsive-md">
       <thead class="table-light table-align">
       <tr>
          <td colspan="3" style="color: gray; font-weight: normal;text-align: left;">Team: <%= showMTHead %></td>
       </tr>
       <tr class="table-active" style="color: gray; font-weight: normal;text-align: left;font-size: 18px;">
          <td>Total Budget Amount</td>
          <td>Total Actual Expense</td>
          <td>Expense/Budget%</td>
       </tr>
    </thead>   
    <tbody>
       <tr style="color: gray; font-weight: normal;text-align: left;font-size: 18px;">
          <td><% let sumTotalBgAmount = sumTotalAmount
                  if(isNaN(sumTotalBgAmount)){
                     sumTotalBgAmount = 0
                  }else{
                     sumTotalBgAmount
                  }
               %>
            <%= addCommas(sumTotalBgAmount) %></td>
            <td><% let sumTotalActEx = sumGroupTotalExpense
                     if(isNaN(sumTotalActEx)){
                        sumTotalActEx = 0
                     }else{
                        sumTotalActEx
                     }
               %>
               <%= addCommas(sumTotalActEx) %> </td>
            <td><% let sumPercent = (sumGroupTotalExpense / sumTotalAmount *100).toFixed(2)
                   if(isNaN(sumPercent)){
                      sumPercent = 0
                   }else{
                      sumPercent
                   }
                %>
                <%= addCommas(sumPercent)  %> %
           </td>
       </tr>
    </tbody>
    </table>
    <br>
    <% if(objectLength==0) { %>
 
    <%  }else{ %>
    <% for(i=0; i < getTeamLists.length; i++) { %>
 
    <table border="2" class="table table-responsive-md">
     
       <thead class="table-light table-align">
           
       <tr>
           <td colspan="5" style="color: gray; font-weight: normal;text-align: left;">
          <%= getTeamLists[i]["RC"] %>
          </td>
       </tr>
 
       <tr class="table-active" style="color: gray; font-weight: normal;text-align: left;">
          <td>Project Number</td>
          <td>Project Name</td>
          <td>Total Budget Amount</td>
          <td>Total Actual Expense</td>
          <td>Expense/Budget%</td>
       </tr>
    </thead>   
    <tbody>
      
       <% projectData.forEach((e) => {  %>
          <% 
       
          const data = filterGLTransactData.filter((gt) => {
                       let keyIndex = null;
       
                       for (const key in gt)
                          if (key.includes("Project Number")) {
                             keyIndex = key;
                             break;
                          }
       
                       return gt[keyIndex] === e["Project Number"];
                    })[0];
       
                    const newData = {
                       projectBud: e,
                       gL: data,
                    };
 
                                           
                   
             %><% let sumTotalExpense = 0 %>
             <% if(getTeamLists[i]["RC"]===newData.projectBud["RC"]) { %>
     
                           
             <tr style="color: gray; font-weight: normal;text-align: left;font-size: 18px;">
                  
                   <td>&nbsp;&nbsp;<%= newData.projectBud["Project Number"] %></td>
                   <td><%= newData.projectBud["Project Name"] %></td>
                   <td><% let ttbudgetAmount = newData.projectBud["Income Total Amount"]
                           if(isNaN(ttbudgetAmount)){
                              ttbudgetAmount = 0
                           }else{
                              ttbudgetAmount
                           }
                     %>
                     <%= addCommas(ttbudgetAmount) %></td>
                   <td>
                      <% let sumExpense = (newData.gL["BASE_OBJECT.Debit"] - newData.gL["BASE_OBJECT.Credit"]) 
                           if(isNaN(sumExpense)){
                              sumExpense = 0
                           }else{
                              sumExpense
                           }
                      
                      %>            
                      <%= addCommas(sumExpense) %>
                   </td>
                   <td>
                      <% let BudgetExpense = (sumExpense / newData.projectBud["Income Total Amount"] * 100).toFixed(2)
                           if(isNaN(BudgetExpense)){
                              BudgetExpense = 0
                           }else{
                              BudgetExpense
                           }
                      %>
                      <%= addCommas(BudgetExpense)  %>%   
               
                   </td>
             </tr>
 
             
       <% } %>
 
     <% }) %>
 
     <tr class="table-active" style="color: gray; font-weight: bold;font-size: 20px;">
       <td colspan="2" style="color: gray; font-weight: normal;text-align: left;">Total</td>
       <td style="color: gray; font-weight: normal;text-align: left;">
         <%  
               if(isNaN(sumGroupTotalbudget)){
                  sumGroupTotalbudget = 0
               }else{
                  sumGroupTotalbudget
               }
         %>
         <%= addCommas(sumGroupTotalbudget) %>
      </td>
       <td style="color: gray; font-weight: normal;text-align: left;">
         <%   
            if(isNaN(sumGroupTotalExpense)){
               sumGroupTotalExpense = 0
            }else{
               sumGroupTotalExpense
            }
         %>
         <%= addCommas(sumGroupTotalExpense) %>
      </td>
       <td></td>
    </tr>
 
 <% } %>
 
 </tbody>
  
 </table>
 
 <%  } %>  
    </center>
    <br /><br />       
 
 </form>
 </div>
 