<%- include(current_path + '/templates/_stylesheets' ) %>
    <script type="text/javascript">
        function refresh() {
            const rcVal = document.getElementById("rcSelect").value;
            const fyVal = document.getElementById("fySelect").value;
            window.location.href = `/report/team-monthly?rc=${rcVal}&fyper=${fyVal}`;
        }
    </script>
    <center>
        <h1>
            <%= title[languageCode] %>
        </h1>
        <h2>
            <span style="font-weight: normal;">
                RC:
            </span>
            <select class="selector" id="rcSelect" onchange="refresh()">
                <% for(var i=0; i < options.rc.length; i++) { %>
                    <option <% if (rcVal==options.rc[i]) { %> selected <% } %> value="<%= options.rc[i] %>"><%=
                                    options.rc[i] %>
                    </option>
                    <% } %>
            </select>
            <span style="font-weight: normal;">
                FY Period:
            </span>
            <select class="selector" id="fySelect" onchange="refresh()">
                <% for(var i=0; i < options.fyper.length; i++) { %>
                    <option <% if (fyPeriod==options.fyper[i]) { %> selected <% } %> value="<%= options.fyper[i] %>"><%=
                                    options.fyper[i] %>
                    </option>
                    <% } %>
            </select>
        </h2>
    </center>
    <div>
        <table width="100%">
            <!-- Header -->
            <tr class="sub header">
                <td>Responsibility Centre</td>
                <td align="right">Beginning Balance</td>
                <td align="right">Income</td>
                <td align="right">Expense</td>
                <td align="right">Transfers</td>
                <td align="right">Ending Balance</td>
            </tr>
            <!-- Data -->
            <% for(const rcCode in rcs) { %>
                <tr>
                    <td>
                        <%= rcCode || "" %>
                    </td>
                    <td align="right">
                        <%= rcs[rcCode].begin || 0 %>
                    </td>
                    <td align="right">
                        <%= rcs[rcCode].income || 0 %>
                    </td>
                    <td align="right">
                        <%= rcs[rcCode].expense || 0 %>
                    </td>
                    <td align="right">
                        <%= rcs[rcCode].transfers || 0 %>
                    </td>
                    <td align="right">
                        <%= rcs[rcCode].end || 0 %>
                    </td>
                </tr>
                <% } %>
        </table>
    </div>
    <% if (rcs[rcVal]) { %>
        <div>
            <table width="100%">
                <!-- Header -->
                <tr class="sub header">
                    <td>
                        <%= rcVal || "" %>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- Expenses -->
                <tr class="header">
                    <td>
                        Expenses
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <% rcs[rcVal].details.expenses.forEach(function(jeArc) { %>
                    <tr>
                        <td>
                            <%= jeArc._dateFormat || "" %>
                        </td>
                        <td>
                            <%= jeArc.description || "" %>
                        </td>
                        <td align="right">
                            <%= jeArc.debit || jeArc.credit %>
                        </td>
                    </tr>
                    <% }); %>

                        <!-- Income -->
                        <tr class="header">
                            <td>
                                Income
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <% rcs[rcVal].details.income.forEach(function(jeArc) { %>
                            <tr>
                                <td>
                                    <%= jeArc._dateFormat || "" %>
                                </td>
                                <td>
                                    <%= jeArc.description || "" %>
                                </td>
                                <td align="right">
                                    <%= jeArc.debit || jeArc.credit %>
                                </td>
                            </tr>
                            <% }); %>

                                <!-- Transfers -->
                                <tr class="header">
                                    <td>
                                        Transfers
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% rcs[rcVal].details.transfers.forEach(function(jeArc) { %>
                                    <tr>
                                        <td>
                                            <%= jeArc._dateFormat || "" %>
                                        </td>
                                        <td>
                                            <%= jeArc.description || "" %>
                                        </td>
                                        <td align="right">
                                            <%= jeArc.debit || jeArc.credit %>
                                        </td>
                                    </tr>
                                    <% }); %>
            </table>
        </div>
        <% } %>